<h1>My name is asia</h1>
<ul>
    <li>banana</li>
    <li>mango</li>
    <li>apple</li>
    <li>grapes</li>
    <li>charry</li>
</ul>
<h4>Now we make a templates</h4>
<p>or ab es templates ko multipuls pleases pr 
    use kr skty hy using 
   <b> using: </b> 
</p>