<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new employ</title>
</head>
<body>
    <h1>Add new employ</h1>
    <form method="post" action="/new">
        <label for="id">ID:</label>
        <input type="text" name="id" placeholder="enter your id" id="id" ><br> <br>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="enter your name" id="name" ><br><br>
        <label for="age">Age:</label>
        <input type="text" name="age" placeholder="enter your age" id="age" > <br><br>
        <label for="salary">Salary:</label>
        <input type="text" name="salary" placeholder="enter your salary" id="salary" >
        <button>submit</button>
    </form>
</body>
</html>