<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>dice game</h1>
    <h3> <%= key %> </h3>        <!-- dynimic HTML --> <!-- It print output in the from of html string -->
         
  <%  if(key == 6){ %>
    <h3>fine! you are achive hightest dice <%= key %></h3>
 <%   } %>

    
</body>
</html>