<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
  

        <h1>Your total account is <%=count%></h1>
        <a href="http://localhost:8080/user/new">
        <button>Join this app</button>
        </a>
        <h2>View all user</h2>
        <a href="http://localhost:8080/user">
            Veiw all user
        </a>
  
   
    
</body>
</html>