<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="post" action="/students/add">
        <h1>Add new Student</h1>
        <label for="name">Name:</label>
        <input type="text" name="name" placeholder="enter your name" id="name" required><br><br>
        <label for="age">Age:</label>
        <input type="text" name="age" placeholder="enter your age"  id="age" required><br><br>
        <label for="marks">Marks</label>
        <input type="text" name="marks" placeholder="enter your mark" id="marks" placeholder="Enter your marks">
        <button class="add">submit</button>
    </form>
</body>
</html>