*{
    margin: 0;
    padding: 0;
}

#container{
   margin: 20px;
    /* border: 5px solid black; */

   font-size: 30px;
   display: grid;
   grid-template-rows:   repeat(12,1fr);
   grid-template-columns:repeat(12,1fr);
   grid-gap:10px;
 
}
h1{
    text-align: center;
    margin: 20px;
}


/* for accesing any box we give refrence  its culmns & rows */
.one{
    grid-row: 1;
    grid-column: 1/13;
    background-color: pink;
 
  } 
.two{
    grid-row: 2/12;
    grid-column: 1/4;
    background-color: pink;
}
.three{
    grid-row: 2;
    grid-column: 4/10;
    background-color: pink;
}
.fourth{
    grid-row: 2/12;
    grid-column: 10/13;
    background-color: pink;
}
.fifth{
    grid-row: 3/12;
    grid-column: 4/10;
    background-color: pink;
   
 
    
}
.sixth{
    grid-row: 12;
    grid-column: 1/13;
    background-color: pink;
}


/* layout change when width 720px */
@media (max-width:720px){
    #container{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-template-rows: repeat(12,100px);
        grid-gap:10px;

    }
    [class]{
        background-color: rgba(255, 192, 203,0.7);
    }
    .one{
        grid-row: 1;
        grid-column: 1/13;
        
    }
    .three{
        grid-row: 2;
        grid-column:1/13;

    }
    .two{
        grid-row:3/12;
        grid-column: 1/4;
    }
    .fourth{
        grid-row: 12;
        grid-column: 1/4;
    }
    .fifth{
        grid-row: 3/12;
        grid-column: 4/13;
    }
    .sixth{
        grid-row: 12;
        grid-column: 4/13;
    }

}